@charset "UTF-8";

*{
    margin: 0px;
    padding: 0px;
}


body{
   margin: 0px 30px;
   height: 200vh;
   padding: 1px;
}

#cabecalho {
    background-color: #36477c;
    padding: 5px;
    padding: 5px;
    border-radius: 6px;
    
}
img {max-width: 120px;}
.logo {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 0px;
}

.menu {
    display: flex;
    align-items: center;
    white-space: nowrap;
    margin-right: 0px;
}
.menu a{
    color: #ffffff;
    font-size:18px;
    text-decoration: none;
    margin-right: 15px;
    transition:0.4s; 
}

.menu a:hover{

    color: rgb(255, 255, 255);
    background-color: #007bff;
    padding: 8px 14px;
    border-radius: 6px;

    
  }
  
.btn-menu {
    background-color: #007bff;
    display: inline-block;
    padding: 8px 14px;
    color:white;
    border-radius: 6px;
}
.menu .btn-menu:hover{
    background-color:  #124265;
    color: white;
    
  }
@media only screen and (max-width: 600px) {

    
    body{
       margin: 0px;
       height: 250vh;
       padding: 1px;
    
    }
    
    #cabecalho {
        background-color: #36477c;
        padding: 5px;
        border-radius: 6px;
        
    }
    img {max-width: 100px;}
    .logo {
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 0px;
    }
    
    .menu {
        display: flex;
        align-items: center;
        white-space: nowrap;
        margin-right: 0px;
    }
    .menu a{
        color: #ffffff;
        font-size:14px;
        text-decoration: none;
        margin-right: 12px;
        transition:0.4s; 
    }
    
    .menu a:hover{
    
        color: rgb(255, 255, 255);
        background-color: #007bff;
        padding: 6px 8px;
        border-radius: 6px;
    
        
      }
      
    .btn-menu {
        background-color: #007bff;
        display: inline-block;
        padding: 6px 8px;
        color:white;
        border-radius: 6px;
    }
    .menu .btn-menu:hover{
        background-color:  #124265;
        color: white;
        
      } 
}
